{% extends 'base.html.twig' %}

{% block title %}Edit PendingSimCards{% endblock %}

{% block body %}
    <h1>Edit PendingSimCards</h1>

    {{ include('pending_sim_cards/_form.html.twig', {'button_label': 'Valider'}) }}


{% endblock %}
