{% extends 'base.html.twig' %}

{% block title %}New PendingSimCards{% endblock %}

{% block body %}
    <h1>Create new PendingSimCards</h1>

    {{ include('pending_sim_cards/_form.html.twig') }}

    <a href="{{ path('app_pending_sim_cards_index') }}">back to list</a>
{% endblock %}
