{% extends 'base.html.twig' %}

{% block title %}CarteSim - Administration{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Base de données (cartes Sim)',
        button_text: 'Alimenter le stock (Scan)',
        button_link: path('scan_chapelet'),
        button_style :'success'

    } %}

    <!-- Section cartes SIM -->
    <div class="row">
        {% for type in carte_sims_by_type %}
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100 border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-danger fw-bold mb-3">
                    {{ type.typeName }}
                </h5>
                <p class="card-text">
                    <strong>Stock actuel : </strong>
                    <span class="{% if type.count < 30 %}text-danger{% else %}text-success{% endif %}">
                        {{ type.count }} unités
                    </span>

                    
                </p>

                <p class="mb-1">
                    <strong>Chapelets : </strong>
                    <small class="text-muted">{{ (type.count / 5) | round(0, 'floor') }}</small>
                </p>

                {% if type.count < 30 %}
                    <div class="alert alert-warning py-1 px-2 mt-3 text-center" style="font-size: 0.9rem;">
                        <i class="bi bi-exclamation-circle-fill me-1"></i> Stock faible !
                    </div>
                {% endif %}
                {% if quantitesRestantes[type.typeName] is defined %}
                        {% if type.count < quantitesRestantes[type.typeName] %}
                            <div><span class="text-warning">Pas assez de stock pour valider toutes les commandes en cours</span></div>
                        {% endif %}
                    {% endif %}
            </div>


            <div class="card-footer bg-light text-center">
                <a href="/carte/sim/{{ type.typeName|replace({' ': ''})|lower }}" class="btn btn-outline-dark w-100">
                    Voir les cartes
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12">
        <div class="alert alert-info text-center">
            <i class="bi bi-info-circle me-1"></i> Aucun type de carte SIM disponible pour le moment.
        </div>
    </div>
{% endfor %}


    </div>
</div>
{% endblock %}
