{% extends 'base.html.twig' %}

{% block title %}Edit CarteSim{% endblock %}

{% block body %}
    <h1>Edit CarteSim</h1>

    {{ include('carte_sim/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_carte_sim_index') }}">back to list</a>

    {{ include('carte_sim/_delete_form.html.twig') }}
{% endblock %}
