{% extends 'base.html.twig' %}

{% block title %}Edit CarteSim{% endblock %}

{% block body %}
<h4 class="mb-5 border-bottom border-secondary pb-2">
    <i class="text-secondary bi bi-sim fs-2 text-secondary"></i>Modifier la Carte Sim</h4>

    {{ include('carte_sim/_form.html.twig', {'button_label': 'Enregistrer'}) }}


{% endblock %}
