<h1>Bienvenue ! Merci de confirmer votre adresse e-mail</h1>

<p>
    Bonjour,
</p>

<p>
    Pour finaliser votre inscription, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.<br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet e-mail.
</p>

<p>
    Cordialement,<br>
    L'équipe Syma Business
</p>
