{# templates/emails/quotas/usage_reset.html.twig #}

<h1 style="color: #d9230f;">Réinitialisation des usages, {{ user.nomResponsable }} !</h1>

<p>Nous vous informons que vos usages de cartes SIM ont été réinitialisés pour le début du mois.</p>

<p>
    <strong>Vos usages actuels sont :</strong> <br>
    - SIM 5 : <span style="font-weight: bold; color: #d9230f;">0</span><br>
    - SIM 10 : <span style="font-weight: bold; color: #d9230f;">0</span><br>
    - SIM 15 : <span style="font-weight: bold; color: #d9230f;">0</span><br>
    - SIM 20 : <span style="font-weight: bold; color: #d9230f;">0</span><br>
</p>

<p>
    Nous vous encourageons à utiliser votre quota pour maximiser vos opportunités ce mois-ci. Pour toute question ou assistance, n'hésitez pas à nous contacter.
</p>

<p style="text-align: center;">
    <a href="{{ clientDashboardUrl }}" style="background-color: #d9230f; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Accéder à mon espace client</a>
</p>

<p>
    Cordialement,<br>
    <strong style="color: #d9230f;">L'équipe Syma-Business</strong>
</p>
