{% extends 'base.html.twig' %}

{% block title %}Email de Réinitialisation de Mot de Passe Envoyé{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-12 col-md-5 mt-4 mb-2 px-4 py-3 rounded shadow-sm bg-white">
        <h1 class="h3 mb-3 font-weight-normal text-center">Email de Réinitialisation Envoyé</h1>
        
        <p class="text-center">
            Si un compte correspondant à votre adresse email existe, un email a été envoyé contenant un lien pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        
        <p class="text-center">
            Si vous ne recevez pas d'email, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.
        </p>
    </div>
</div>
{% endblock %}
