<div class="container my-4">
    <div class="row">
        {% for banner in banners %}
        <div class="col-md-4">
            <div class="bg-white py-4 px-2 rounded shadow-sm my-2">
                <img class="w-100" src="{{ asset('uploads/banners/' ~ banner.image) }}" alt="{{ banner.nom }}">
            </div>
        </div>
		{% endfor %}
    </div>
</div>