<form method="post" action="{{ path('app_syma_business_config_delete', {'id': syma_business_config.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ syma_business_config.id) }}">
    <button class="btn">Delete</button>
</form>
