{% extends 'base.html.twig' %}

{% block title %}Edit Banner{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Gestion des bannieres',
        button_text: 'Retoure à la liste des bannières',
        button_link: path('app_banner_index'),
        button_style :'success'

    } %}
<div class="container-fluid">

    {{ include('banner/_form.html.twig', {'button_label': 'Mise à jour'}) }}
</div>

{% endblock %}
