{% extends 'base.html.twig' %}

{% block title %}New Banner{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Créer une pub',
        button_text: 'Retour à la liste des pubs',
        button_link: path('app_banner_index'),
        button_style :'success'

    } %}
<div class="container-fluid">

    {{ include('banner/_form.html.twig') }}
</div>
{% endblock %}
