{% extends 'base.html.twig' %}

{% block title %}New Bonus{% endblock %}

{% block body %}
<h4 class="mb-3 border-bottom border-secondary pb-2">
    <i class="text-secondary bi bi-gift fs-2 text-secondary"></i> Attribuer un bonus</h4>

    {{ include('bonus/_form.html.twig') }}

{% endblock %}
