{% extends 'base.html.twig' %}

{% block title %}New Bonus{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Attribuer un bonus',
        button_text: 'Retour a la liste des bonus',
        button_link: path('app_bonus_index'),
        button_style :'success'

    } %}
    {{ include('bonus/_form.html.twig') }}
</div>
{% endblock %}
