{% extends 'base.html.twig' %}

{% block title %}Edit Limitation{% endblock %}

{% block body %}
    <h1>Edit Limitation</h1>

    {{ include('limitation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


{% endblock %}
