{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
<h3 class="mb-5 border-bottom border-secondary pb-2">
    <i class="text-secondary fa-solid fa-sim-card"></i> Biper Numéro de Série</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-sm w-100">Scanner !</button>
    {{ form_end(form) }}

    
{% endblock %}



