{% extends 'base.html.twig' %}

{% block title %}New SimType{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Ajouter un type de cartes SIM',
        button_text: 'Retour à la liste des types cartes sim',
        button_link: path('app_sim_type_index'),
        button_style :'success'

    } %}


    {{ include('sim_type/_form.html.twig') }}

</div>

{% endblock %}
