{% extends 'base.html.twig' %}

{% block title %}Nouveau quota{% endblock %}

{% block body %}
<h3 class="mb-5 border-bottom border-secondary pb-2"><i class="bi bi-speedometer"></i> Ajouter un quota</h3>

    {{ include('quota/_form.html.twig') }}

{% endblock %}
