{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importer des cartes SIM</h1>
    {{ form_start(form) }}
        {{ form_row(form.csvFile) }}
        {{ form_row(form.simType) }}
        <button type="submit" class="btn btn-primary">Importer</button>
    {{ form_end(form) }}
{% endblock %}
